.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    color: white;
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 2rem 0;
    padding: 4rem;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}

.main > h1 {
    background: #000000;
    background: linear-gradient(to bottom, #000000 0%, #424242 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}